---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Info from '../components/Info.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Luis Gómez - Portafolio web">
	<main class="flex flex-col items-center justify-center">
		<Info />
		<Projects />
		<About />
		<Skills />
	</main>
</Layout>
