---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Info from '../components/Info.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Footer from '../components/Footer.astro';

---

<Layout title="Portafolio web">
	<header id="inicio" class="relative flex flex-col items-center justify-center">
		<Navigation />
		<Info />
	</header>
	<main class="flex flex-col items-center justify-center w-[512px] xl:w-[1024px] md:w-[768px]">
		<About />
		<!-- <Experience /> -->
		<!-- <Projects /> -->
		<Skills />
	</main>
	<Footer />
</Layout>

