---
import ExperienceItem from './ExperienceItem.astro'
---

<section id="experiencia" class="seccion h-screen w-100">
    <div>
        <h1 class="text-2xl text-tertiary-light dark:text-tertiary-dark font-bold">&lt;/&gt Experiencia</h1>
        <ul class="pl-9 list-disc">
            <ExperienceItem 
                nombreEmresa="Instituto Tecnológico Bolivariano Universitario de Tecnología (ITB)."
                duracion="Mayo 2017 - Actualidad."
                departamento="Tic's."
                cargo="Desarrollador Backend."
                tecnologias="Django, Python, Jquery, Bootstrap."/>

            <ExperienceItem 
                nombreEmresa="Instituto Tecnológico Bolivariano Universitario de Tecnología (ITB)."
                duracion="Noviembre 2022 - Actualidad."
                departamento="Facultad de Ciencias Económicas y empresariales (FACES)."
                cargo='Docente en carreras técnicas "Desarrollo de Software y Biomédica".'
                tecnologias="PHP, Javascript, Kotlin, Java, MySql, SQLite, PsInt."/>

            <ExperienceItem 
                nombreEmresa="Promoedu S.A. (Instituto Particular Abdón Calderón - IPAC)."
                duracion="2013 - 2016."
                departamento="Nuevas Tecnologías."
                cargo="Técnico en ensamblaje y mantenimiento."
                tecnologias="Tecnologías utilizadas: </span>Javascript, css."/>
        </ul>
    </div>
</section>