---
import IconItem from './IconItem.astro'

---

<footer class="w-full bg-sky-900/60 dark:bg-sky-300/40 text-zinc-200 mt-9 p-9 flex-col">
    <div class="flex justify-center">
        <p>Realizado por: <span class="font-bold">Luis Gómez Veloz</span></p>
    </div>
    <div class="flex gap-3 justify-center mt-3">
        <IconItem href='https://www.instagram.com/luisgomez.gye/' clase='icon-instagram' />
        <IconItem href='mailto:luis.gomez.veloz@gmail.com?subject=Contratado.&body=Hola Luis, vi tu hoja de vida...' clase='icon-mail2' />
        <IconItem href='https://web.whatsapp.com/send?phone=+593991718739' clase='icon-whatsapp' />
    </div>
</footer>