---
interface Props {
    href:string,
    clase:string
}

const { href, clase } = Astro.props
---

<a 
    href=`${href}`
    target="_blank"
    class="
        hover:text-secondary-light dark:hover:text-secondary-dark
        focus:animate-jump
        transition-colors duration-300 ease-linear" 
>
    <span class=`${clase} text-4xl`></span>
</a>