---
import '../../public/icomoon/style.css'
import IconItem from './IconItem.astro'
import Title from './Title.astro'
---

<section class="seccion h-screen w-full flex flex-col lg:flex-row items-center justify-center gap-12">
    <div class="flex justify-center">
        <img src="./static/nerd.webp" alt="img" class="max-w-full w-[300px] lg:w-[350px] h-auto text-center rounded-full">
    </div>
    <div class="text-center flex flex-col gap-3">
        <Title label="Luis Gómez Veloz"/>
        <p class="text-xl lg:text-2xl text-onSurface-light dark:text-onSurface-dark">Desarrollador Full-Stack</p>
        <div class="flex gap-6 justify-center">
            <button
                class="px-6 py-3 rounded-full bg-transparent 
                    text-secondary-light dark:text-secondary-dark
                    hover:bg-secondary-light dark:hover:bg-secondary-dark 
                    hover:text-secondaryContainer-light dark:hover:text-secondaryContainer-dark
                    outline outline-secondary-light dark:outline-secondary-dark
                    transition-colors duration-300 ease-linear">
                    <!-- <span class="icon-download text-2xl"></span>  -->
                    Descargar CV
            </button>
            <a
                href="#contacts"
                class="px-11 py-3 rounded-full 
                    bg-secondary-light dark:bg-secondary-dark 
                    text-secondaryContainer-light dark:text-secondaryContainer-dark
                    outline outline-tertiarsecondaryy-light dark:outline-secondaryContainer-dark 
                    transition-colors duration-300 ease-linear">
                    <!-- <span class="icon-download2 text-2xl"></span>  -->
                    Contactos
        </a>
        </div>
        <div class="flex gap-6 w-full justify-center">
            <IconItem href='https://github.com/luis-gomez-91' clase='icon-github' />
            <IconItem href='https://www.linkedin.com/in/luisgomez1991/' clase='icon-linkedin' />
        </div>
    </div>
    
</section>