---
import '../../public/icomoon/style.css'
---

<div>

    <div class="bg-zinc-50 bg-clip-border shadow-3xl rounded-xl p-6">
        <!-- <div class="h-56 bg-[url('/img/prueba.png')] bg-cover bg-center">
    
        </div> -->
        <div class="p-3 relative overflow-hidden group h-56">
            <img 
                src="../public/img/prueba.png" 
                alt="NO" 
                class="
                    absolute
                    inset-0 
                    object-cover 
                    bg-blend-luminosity 
                    group-hover:scale-105 
                    transition-scale duration-1000 ease-in-out"
            >
        </div>
        

        <div class="py-3 mt-3 text-zinc-700">
            <h2 class="text-lg font-bold">Módulo Gestión de Cobranzas</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, 
                quibusdam doloribus iste accusamus culpa sit repellendus, hic omnis animi eos ullam facere, 
                quod nemo sed nam a eius non maiores!
            </p>
        </div>
        <div class="w-full flex justify-end items-center gap-3">
            <a
                href="#" 
                class="
                    hover:text-amber-500 
                    text-zinc-800 
                    focus:animate-jump 
                    hover:rotate-6 
                    hover:animate-pulse
                    hover:duration-1000"
            >
                <span class="icon-github text-4xl"></span>
            </a>

            <button
                class="
                    px-5 py-2
                    bg-zinc-800 
                    text-slate-50
                    rounded-sm 
                    hover:bg-amber-500 
                    hover:text-white 
                    focus:animate-jump
                    hover:animate-pulse
                    hover:duration-1000"
            >
                <span class="icon-eye text-2xl"></span> 
                    
            </button>
        </div>
    </div>

</div>