---
import Card from './ProjectsItem.astro'
---

<section id="proyectos" class="seccion w-100 h-screen">
    <h1 class="text-2xl text-amber-500 font-bold">&lt;/&gt Proyectos</h1>

    <div class="grid grid-cols-1 mt-3 w-full gap-4 xl:grid-cols-2 md:grid-cols-1">
        <Card />
        <Card />
    </div>

</section>