---
import '../../public/icomoon/style.css'
import IconItem from './IconItem.astro'
import SkillItem from './SkillsItem.astro'

---

<section id="skills" class="seccion h-screen flex flex-col justify-center items-center w-full xl:w-[1024px] md:w-[768px] px-9">
    <div class="flex flex-row justify-around items-center w-full">
        <h1 class="text-5xl text-tertiary-light dark:text-tertiary-dark font-bold font-suse">Habilidades</h1>
    </div>

    <div class="w-full relative">
        <a href="javascript:void(0)" 
            id="scroll-left" 
            class="transition-color duration-300 ease-linear absolute top-1/2 transform -translate-y-1/2 -left-[30px] 
                text-primary-light dark:text-secondary-dark
                bg-[rgba(218,226,249, 0.2)] dark:bg-[rgba(62,71,89,0.2)] hover:bg-secondaryContainer-light hover:dark:bg-secondaryContainer-dark
                rounded-full w-[60px] h-[60px] z-50 flex items-center justify-center"
        >
            <span class="icon-arrow-left text-3xl text-onSurface-light dark:text-onSurface-dark"></span>
        </a>
        <a href="javascript:void(0)" 
            id="scroll-right" 
            class="transition-color duration-300 ease-linear absolute top-1/2 transform -translate-y-1/2 -right-[30px] 
                text-primary-light dark:text-secondary-dark
                bg-[rgba(218,226,249, 0.2)] dark:bg-[rgba(62,71,89,0.2)] hover:bg-secondaryContainer-light hover:dark:bg-secondaryContainer-dark
                rounded-full w-[60px] h-[60px] z-50 flex items-center justify-center"
        >
            <span class="icon-arrow-right text-3xl text-onSurface-light dark:text-onSurface-dark"></span>
        </a>
        <div class="hidden xl:flex w-[24rem] h-full absolute start-[-12px] top-0 z-10 bg-gradient-to-r from-[rgb(249,249,255,0.8)] dark:from-[rgb(17,19,24,0.8)] to-transparent"></div>
        <div id="scroll-container" class="w-full flex flex-row gap-6 justify-start items-center overflow-x-auto overflow-y-hidden mt-16 scroll-smooth snap-x snap-mandatory scrollbar-hide">

            <div class="hidden xl:flex min-w-[12rem] max-w-[28rem] min-h-[22rem]"></div>
            <div class="min-w-[24rem] max-w-[28rem] min-h-[22rem] p-6 border-solid border-secondary-light dark:border-secondary-dark border-2 rounded-3xl flex flex-col items-center">
                <h3 class="text-xl text-onSurface-light dark:text-onSurface-dark">Desarrollo Backend</h3>
                <div class="mt-5 grid grid-cols-1 md:grid-cols-2 gap-4">
                    <SkillItem name="Python" nivel="Avanzado" />
                    <SkillItem name="Django" nivel="Avanzado" />
                    <SkillItem name="PHP" nivel="Intermedio" />
                    <SkillItem name="Laravel" nivel="Intermedio" />
                    <SkillItem name="PostgreSQL" nivel="Avanzado" />
                    <SkillItem name="MySQL" nivel="Avanzado" />
                    <SkillItem name="Oracle" nivel="Básico" />
                </div>
            </div>
    
            <div class="min-w-[24rem] max-w-[28rem] min-h-[22rem] p-6 border-solid border-secondary-light dark:border-secondary-dark border-2 rounded-3xl flex flex-col items-center">
                <h3 class="text-xl text-onSurface-light dark:text-onSurface-dark">Desarrollo Frontend</h3>
                <div class="mt-5 grid grid-cols-1 md:grid-cols-2 gap-4">
                    <SkillItem name="Html" nivel="Avanzado" />
                    <SkillItem name="CSS" nivel="Avanzado" />
                    <SkillItem name="JavaScript" nivel="Avanzado" />
                    <SkillItem name="JQuery" nivel="Avanzado" />
                    <SkillItem name="TypeScript" nivel="Intermedio" />
                    <SkillItem name="Bootstrap" nivel="Avanzado" />
                    <SkillItem name="Tailwind" nivel="Avanzado" />
                    <SkillItem name="Astro" nivel="Intermedio" />
                </div>
            </div>
    
            <div class="min-w-[24rem] max-w-[40rem] min-h-[22rem] p-6 border-solid border-secondary-light dark:border-secondary-dark border-2 rounded-3xl flex flex-col items-center">
                <h3 class="text-xl text-onSurface-light dark:text-onSurface-dark">Desarrollo Móvil</h3>
                <div class="mt-5 grid grid-cols-1 md:grid-cols-2 gap-4">
                    <SkillItem name="Kotlin" nivel="Avanzado" />
                    <SkillItem name="Kotlin Multiplatform" nivel="Intermedio" />
                    <SkillItem name="Java" nivel="Básico" />
                    <SkillItem name="Jetpack Compose" nivel="Avanzado" />
                </div>
            </div>
    
            <div class="min-w-[24rem] max-w-[28rem] min-h-[22rem] p-6 border-solid border-secondary-light dark:border-secondary-dark border-2 rounded-3xl flex flex-col items-center">
                <h3 class="text-xl text-onSurface-light dark:text-onSurface-dark">Herramientas</h3>
                <div class="mt-5 grid grid-cols-1 md:grid-cols-2 gap-4">
                    <SkillItem name="Git" nivel="Avanzado" />
                    <SkillItem name="GitHub" nivel="Intermedio" />
                    <SkillItem name="Subversion" nivel="Avanzado" />
                    <SkillItem name="Bash" nivel="Básico" />
                    <SkillItem name="Ireport" nivel="Avanzado" />
                    <SkillItem name="Visual Studio Code" nivel="Avanzado" />
                    <SkillItem name="Pycharm" nivel="Avanzado" />
                    <SkillItem name="AndroidStudio" nivel="Avanzado" />
                </div>
            </div>
            <div class="hidden xl:flex min-w-[12rem] max-w-[28rem] min-h-[22rem]"></div>
        </div>
        <div class="hidden xl:flex w-[24rem] h-full absolute end-[0] top-0 z-100 bg-gradient-to-l from-[rgb(249,249,255,0.8)] dark:from-[rgb(17,19,24,0.8)] to-transparent"></div>
    </div>
</section>

<style>
.scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
</style>

<script>
    // Obtener el contenedor que tiene el scroll horizontal
    const scrollContainer = document.getElementById('scroll-container');
    
    // Botón para desplazarse hacia la izquierda
    document.getElementById('scroll-left').addEventListener('click', () => {
        scrollContainer.scrollBy({ left: -300, behavior: 'smooth' }); // Mover a la izquierda
    });
    
    // Botón para desplazarse hacia la derecha
    document.getElementById('scroll-right').addEventListener('click', () => {
        scrollContainer.scrollBy({ left: 300, behavior: 'smooth' }); // Mover a la derecha
    });
</script>