---
interface Props {
	name: string;
    nivel: String;
}

const { name, nivel } = Astro.props;

---
<div class="w-full flex gap-2">
    <div class="p-1 md:p-2 bg-onSurface-light dark:bg-onSurface-dark rounded-full aspect-w-1 aspect-h-1 w-9 md:w-11 h-9 md:h-11">
        <img src={`./static/${name}.png`} alt={name} class="h-full w-full object-contain">
    </div>
    <div class="flex flex-col">
        <p class="m-0 text-secondary-light dark:text-secondary-dark text-sm md:text-md">{name}</p>
        <span class="m-0 text-xs md:text-sm"> {nivel} </span>
    </div>
    
</div>

    
