---
import { ViewTransitions } from 'astro:transitions';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark flex flex-col justify-center items-center">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=2.0, maximum-scale=1.0, user-scalable=no">
		<link rel="icon" type="image/png" href="./static/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE:wght@100..800&display=swap');
		</style>
	</head>
	<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
	<body class="m-0 p-0 pb-9transition duration-500 ease-in-out 
				font-poppins font-normal w-screen
				text-outline-light dark:text-outline-dark
				bg-surface-light dark:bg-surface-dark">
		<header id="inicio" class="relative flex flex-col items-center justify-center">
			<Navigation />
		</header>
		<slot />	
		<Footer />
	</body>
</html>

<script>
	// let isScrolling = false;
	// window.addEventListener('wheel', (event) => {
	// 	if (isScrolling) return;

	// 	const sections = document.querySelectorAll('.seccion');
	// 	const scrollDirection = event.deltaY > 0 ? 1 : -1;
	// 	const currentSection = Math.round(window.scrollY / window.innerHeight);
	// 	let nextSection = currentSection + scrollDirection;

	// 	if (nextSection < 0) nextSection = 0;
	// 	if (nextSection >= sections.length) nextSection = sections.length - 1;

	// 	isScrolling = true;

	// 	window.scrollTo({
	// 		top: nextSection * window.innerHeight,
	// 		behavior: 'smooth'
	// 	});

	// 	const scrollListener = () => {
	// 		isScrolling = false;
	// 		window.removeEventListener('scroll', scrollListener);
	// 	};

	// 	window.addEventListener('scroll', scrollListener);
	// });


	document.addEventListener('DOMContentLoaded', () => {
		const detectarTemaOscuro = () => window.matchMedia('(prefers-color-scheme: dark)').matches;
		if (detectarTemaOscuro()) {

			document.querySelector('body').classList.add('dark')
		}

        const sections = document.querySelectorAll('.fade-in');

        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('visible');
                }
            });
        }, { threshold: 0.2 });

        sections.forEach(section => {
            observer.observe(section);
        });

        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();
                
                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth',
                    block: 'start'
                });
            });
        });

    });
</script>

<style>
	html {
		scroll-behavior: smooth;
	}

	.fast-scroll {
		scroll-behavior: smooth;
		scroll-timing-function: ease-in-out;
		transition-duration: 0.8s;
	}
</style>